@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-md;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}
